# Required configuration
PUBLIC_URL=https://example.com/
CLIENT_URL=https://example2.com/
VAPID_PUBLIC_KEY=BNd8JZubrIyeeLj36cVtUAbmhXjLxAjaWCsxy7P1bieWg0_wBPtLo9LhnQcfq3ALIBhK3GzEy8FxtegIaNhYXgg
VAPID_PRIVATE_KEY=S8YEaGfxOB7N2IYSauYHSFobZA5Fv9L-SZSY6d8snb8

# Optional configuration
PORT=3000
DB_FILE="./sender.db"
# Enabling those options will make web pages (NOT API routes) ask for basic auth
AUTH_USER=admin
AUTH_PASS=123456
